@import '../../../css/variables.css';

.activities__recomended {
  margin-bottom: 40px;
}

.activities__recomended__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: var(--font-color);
}

.activities__recomended__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: stretch;
}
