@import '../../../css/animation.css';

.survey_result__container {
  width: 600px;
  height: 400px;
  margin: 0px 15px;
  padding: 40px;
  box-shadow: var(--shadow-params);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  composes: opacity from global;
}

.survey_result__container h3 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 50px;
}

.survey_result__container span {
  font-size: 1em;
}

.survey_result__container__icon {
  justify-content: center;
}

.survey_result__container__icon > svg {
  color: green;

  width: 80px;
  height: 80px;
}

.survey_card__container__submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 630px) {
  .survey_result__container {
    width: 450px;
  }

  .survey_card__container h1 {
    font-size: 1.25em;
  }
}

@media (max-width: 465px) {
  .survey_result__container {
    width: 100%;
    height: 100%;
  }
}
