@import '../../css/variables.css';
@import '../../css/animation.css';

.recomended_card_activities {
  flex: 1 1 31%;
  padding: 20px;

  box-shadow: var(--shadow-params);
  border-radius: 15px;
  align-self: stretch;

  position: relative;
  composes: opacity from global;
}

.recomended_card_activities h3 {
  margin: 10px 0;
  font-size: 18px;
}

.recomended_card_activities__description_text {
  font-size: 16px;
  line-height: 120%;
}

.recomended_card_activities__description {
  margin-bottom: 10px;
}

.recomended_card_activities:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1065px) {
  .recomended_card_activities {
    flex: 1 1 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .recomended_card_activities:not(:last-child) {
    margin-right: 0px;
  }

  .recomended_card_activities__description {
    display: flex;
    flex-direction: column;
  }
}
