@import '../../css/variables.css';
@import '../../css/animation.css';

.search_activities {
  padding: 0px 15px;
  position: relative;
  composes: opacity from global;
}

.search_activities h5 {
  margin: 0;
  font-size: 1.5em;
}

.search_activities__text {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 44px;
  color: var(--font-color);
}

.search_activities__back_button {
  margin-bottom: 30px;
}

.search_activities__search_panel {
  display: flex;
  flex-direction: row;
}

.search_activities__search_panel__button {
  width: 900px;
  display: block;
  margin-right: 20px;
}

.search_activities__search_panel > button {
  width: 100px;
}

.search_activities__first_group {
  display: flex;
}

@media (max-width: 1065px) {
  .search_activities__first_group {
    flex-direction: column;
  }

  .search_activities__first_group__district {
    width: 500px;
  }
}

.search_activities__first_group__district {
  width: 500px;
  margin-right: 20px;
}

.search_activities__first_group__days {
  width: 230px;
  margin-right: 20px;
}

.search_activities__first__group__online {
  width: 150px;
  margin-right: 20px;
}

.search_activities__first__group__d0LevelName {
  width: 350px;
  margin-right: 20px;
}

.search_activities__second__group {
  display: flex;
}

.search_activities__second__group__d1LevelName {
  width: 650px;
  margin-right: 20px;
}

.search_activities__second__group__d2LevelName {
  width: 500px;
  margin-right: 20px;
}

.search_activities__third__group {
  display: flex;
}

.search_activities__third__group__certificate {
  width: 250px;
  margin-right: 20px;
}

.search_activities__third__group__area {
  width: 500px;
  margin-right: 20px;
}

.search_activities__first__group__online {
  width: 350px;
}
