@import '../../../css/variables.css';
@import '../../../css/animation.css';

.activities__yours {
  padding-top: 40px;
  position: relative;
  composes: slide_bottom from global;
}

.activities__yours__text {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 44px;

  color: var(--font-color);
}

.activities__yours__container {
  margin-top: 20px;
  justify-content: center;
}
