@import '../../../css/variables.css';

.activities__quiz button {
  margin-top: 20px;
}

.activities__quiz__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: var(--font-color);
}

.activities__quiz__text {
  font-size: 20px;
}

@media (max-width: 1064px) {
  .activities__quiz {
    width: 100%;
  }
}
