.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (width <= 1065px) {
  .page {
    width: 640px;
  }
}

@media (width <= 660px) {
  .page {
    width: 500px;
  }
}

@media (width <= 520px) {
  .page {
    width: 450px;
  }
}

@media (width <= 480px) {
  .page {
    width: 400px;
  }
}
