@import '../../css/animation.css';
@import '../../css/variables.css';

.card_activities {
  width: 17.9em;
  height: 14.5em;
  padding: 35px;
  box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  position: relative;
  composes: opacity from global;
}

.card_activities__category_text {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 24px;
  color: #222222 !important;
}

.card_activities__activity_text {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 20px;

  color: var(--font-color);
}

.card_activities span {
  font-size: 1em;
  color: #222222;
}

@media (max-width: 1212px) {
  .card_activities {
    width: calc(55vw - 90px);
  }
}

@media (max-width: 1065px) {
  .card_activities {
    width: 300px;
    height: 230px;
  }
}

@media (max-width: 660px) {
  .card_activities {
    width: 470px;
  }
}
