@import '../../css/variables.css';

.quiz {
  padding: 80px 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__container {
  width: 600px;
  margin: 0px 15px;
  padding: 40px;
  box-shadow: var(--shadow-params);
}

.quiz__container__submit_button {
  margin-top: 20px;
}

@media (max-width: 630px) {
  .quiz__container {
    width: 500px;
  }

  .quiz__container h1 {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .quiz__container {
    padding: 0px;
    box-shadow: none;
    width: 300px;
  }
}
