@import '../../css/variables.css';
@import '../../css/animation.css';

.auth {
  padding: 80px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  composes: opacity from global;
}

.auth__form {
  width: 600px;
  height: 350px;
  margin: 0px 15px;
  padding: 40px 40px 0px 40px;
  box-shadow: var(--shadow-params);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth__form label {
  font-size: 1em !important;
}

.auth__form__button button {
  height: 2em;
  width: 100%;
}

.auth__form__button span {
  font-size: 1em !important;
}

@media (max-width: 745px) {
  .auth__form {
    height: 100%;
    width: 400px;
  }
}

@media (max-width: 454px) {
  .auth {
    padding: 0px;
  }
  .auth__form {
    height: 100%;
    width: 300px;
  }
}
