@import '../../css/animation.css';

.survey_card__container {
  width: 600px;
  margin: 0px 15px;
  padding: 40px;
  box-shadow: var(--shadow-params);
  border-radius: 15px;

  position: relative;
  composes: opacity from global;
}

.survey_card__container h1 {
  font-size: 1.5em;
}

.survey_card__container span {
  font-size: 1em;
}

.survey_card__container__submit_button {
  margin-top: 20px;
}

@media (max-width: 630px) {
  .survey_card__container {
    width: 500px;
  }

  .survey_card__container h1 {
    font-size: 1.25em;
  }
}
