:global(.slide_top) {
  animation: slide_top 1s ease-in-out;
}

:global(.slide_bottom) {
  animation: slide_bottom 1s ease-in-out;
}

:global(.slide_right) {
  animation: slide_right 1s ease-in-out;
}

:global(.slide_left) {
  animation: slide_left 1s ease-in-out;
}

:global(.opacity) {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide_top {
  0% {
    top: -400px;

    opacity: 0;
  }

  100% {
    top: 0;

    opacity: 1;
  }
}

@keyframes slide_bottom {
  0% {
    bottom: -400px;

    opacity: 0;
  }

  100% {
    bottom: 0;

    opacity: 1;
  }
}

@keyframes slide_right {
  0% {
    left: -200px;

    opacity: 0;
  }

  100% {
    left: 0;

    opacity: 1;
  }
}

@keyframes slide_left {
  0% {
    right: -200px;

    opacity: 0;
  }

  100% {
    right: 0;

    opacity: 1;
  }
}
