@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', system-ui, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(11 31 53);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 24px;
}

button.ant-btn.css-dev-only-do-not-override-w8mnev {
  height: 2em !important;
}