@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', system-ui, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(11 31 53);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  /* font-size: 24px; */
}

.chip {
  position: relative;
  top: -1px;
  padding: 3px 6px;
  border-radius: 6px;
  border: 0px solid rgba(244, 10, 10, 0.75);
  background-color: rgb(186 9 9 / 75%);
  color: #fff;
  margin: 0 3px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
