@import '../../css/variables.css';
@import '../../css/animation.css';

.activities__description {
  position: relative;
  composes: slide_left from global;
}

.activities__description button {
  margin-top: 20px;
}

.activities__description__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;

  color: var(--font-color);
}

.activities__description__text {
  font-size: 16px;
}

.activities__description button span {
  font-size: 16px;
}

@media (max-width: 1064px) {
  .activities__description {
    width: 100%;
  }
}
