@import '../../css/variables.css';

.recomended_activities__cards {
  margin-top: 30px;
}

.recomended_activities h1 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 44px;

  color: var(--font-color);
  margin-bottom: 0;
}
